<!-- Navigation -->
<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary p-3" data-bs-theme="dark">
  <div class="container-fluid">
      <!-- Поместите кнопку открытия меню в начало навбара -->
      {% if current_user.is_authenticated and current_user.is_two_factor_authenticated %}
      <button class="openbtn" onclick="openNav()">☰</button>
      {% endif %}
      <!-- Ссылка на главную или заголовок сайта -->
      <a class="navbar-brand" href="/">
          Прогнозирование риска рецидива сахарного диабета 2 типа после достижения ремиссии в ходе бариатрической хирургии
      </a>

      <!-- Кнопка для мобильных устройств -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Содержимое навбара -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {% if current_user.is_authenticated and current_user.is_two_factor_authenticated %}
          <a href="{{ url_for('accounts.logout') }}"><button type="button" class="btn btn-danger me-2">Выйти</button></a>
          {% else %}
          <a href="{{ url_for('accounts.login') }}"><button type="button" class="btn btn-outline-primary me-2">Войти</button></a>
          {% endif %}
      </div>
  </div>

  <!-- Sidebar -->
  {% if current_user.is_authenticated and current_user.is_two_factor_authenticated %}
  <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <a href="{{ url_for('core.home') }}">Главная</a>
      <a href="{{ url_for('core.get_table') }}">Пациенты</a>
      <a href="{{ url_for('core.get_analitics') }}">Аналитика</a>
      <a href="{{ url_for('core.admin_console') }}">Пользователи</a>
  </div>
  {% endif %}
</nav>
