{% extends "_base.html" %}

{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <main class="form-signin w-100 m-auto">
      <form role="form">
        <h5>Инструкция!</h5>
          <ul>
            <li>Скачайте <a href="https://play.google.com/store/apps/details?id=org.fedorahosted.freeotp" target="_blank">Free OTP</a> на ваш смартфон.</li>
            <li>Настройте новый аутентификатор и отсканируйте QR код.</li>
            <li>После сканирования нажмите на кнопку <a href="{{ url_for('accounts.verify_two_factor_auth') }}">Далее.</li>
          </ul>
          <div class="text-center">
            <img src="data:image/png;base64, {{ qr_image }}" alt="Secret Token" style="width:200px;height:200px"/>
          </div>
        <div class="text-center mt-2">
          <a href="{{ url_for('accounts.verify_two_factor_auth') }}"><button type="button" class="btn btn-primary">Далее</button></a>
        </div>
      </form>
    </main>
  </div>
  <div class="col-md-4"></div>
</div>

{% endblock %}

{% block js %}
<script>
    function copySecret() {
    var copyText = document.getElementById("secret");
    copyText.select();
    copyText.setSelectionRange(0, 99999); /*For mobile devices*/
    document.execCommand("copy");
    alert("Successfully copied TOTP secret token!");
  }
</script>
{% endblock %}