.home-container {
  display: flex;
  height: 100%;
  /* Обеспечивает 100% высоты */
  width: 100%;
  /* Обеспечивает 100% ширины */
}

.chart-container {
  height: 100%;
  /* Обеспечивает 100% высоты */
  width: 75%;
  /* Обеспечивает 100% ширины */
  background-color: #dfdddd;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.chart {
  /* График занимает 75% ширины родительского контейнера */
  height: 100%;
  /* График занимает 100% высоты родительского контейнера */
  margin: auto;
  /* Центрируем график по горизонтали */
}

.form-container-Data{
  margin: auto;
}

.navbar-brand {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.4rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form-container-csv {
  text-align: center; /* Выравнивание по центру для дочерних элементов */
}
.form-container-csv input[type="submit"] {
  margin-top: 10px; /* Дополнительный отступ для кнопки */
}
.form-container-pkl {
  text-align: center; /* Выравнивание по центру для дочерних элементов */
}
.form-container-pkl input[type="submit"] {
  margin-top: 10px; /* Дополнительный отступ для кнопки */
}
.error {
  color: red;
  margin-bottom: 5px;
  text-align: center;
}

a {
  text-decoration: none;
}

body {
  align-content: center;
  align-items: center;
  background: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 0px;
}

html,
body {
  height: 100%;
  margin: 0;
}

form {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
  align-items: center;
}

input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #f8f8f8;
}

/* Стили для выпадающего списка */
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #f8f8f8;
}

/* Стили для опций выпадающего списка */
option {
  background-color: #fff;
  color: #333;
}

/* Стили для наведения на опцию выпадающего списка */
option:hover {
  background-color: #f0f0f0;
}

option {
  background-color: #fff;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: #333;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0.5);
}

input[type="text"]:focus,
input[type="date"]:focus,
select:focus {
  outline: none;
  border-color: #666;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Стилизация контейнера кнопки */
.submit-button-container {
  text-align: center;
  /* Центрирование содержимого */
  margin-top: 20px;
  /* Отступ сверху */
}

/* Стилизация кнопки */
input[type="submit"] {
  background-color: #0d6efd;
  /* Зеленый цвет фона */
  color: white;
  /* Белый текст */
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-content: center;
  margin-top: 10px;
  /* Курсор в виде руки при наведении */
}

input[type="submit"]:hover {
  background-color: #0d6efd;
  /* Чуть темнее зеленого при наведении */
}

.center-content {
  text-align: center;
  /* Выравнивание содержимого по центру */
}

.submit-button-container {
  text-align: center;
  /* Центрирование кнопки */
  margin-top: 20px;
  /* Отступ сверху для отделения от остальной части формы */
}

/* Дополнительные стили для улучшения визуального вида формы */
.form-container {
  float: right !important;
  /* Центрирование контейнера по горизонтали */
  /* Центрирование по горизонтали */
  background-color: #f8f8f8;
  /* Цвет фона */
  border-radius: 5px;
  /* Скругленные углы */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Тень */
  max-height: 85vh;
  overflow-y: auto;
}

h1 {
  font-size: 1.2rem;
  text-align: center;
}

input[type="text"],
select {
  width: 100%;
  /* Полная ширина для текстовых полей и выпадающих списков */
  padding: 12px;
  /* Отступы для текстовых полей */
  margin-top: 8px;
  /* Отступ сверху для всех полей */
  border: 1px solid #ccc;
  /* Граница для полей */
  border-radius: 4px;
  /* Скругленные углы для полей */
}

.errors {
  color: red;
  /* Цвет текста ошибок */
  margin-top: 5px;
  /* Отступ сверху для списка ошибок */
}



input[type="number"] {
  width: 100%;
  /* Задает ширину поля ввода, здесь она на 100% контейнера */
  padding: 8px;
  /* Внутренний отступ вокруг текста в поле ввода */
  border: 1px solid #ccc;
  /* Граница поля ввода серого цвета */
  border-radius: 4px;
  /* Скругление углов поля ввода */
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  /* Тень, создающая эффект небольшого "поднятия" элемента */
  font-size: 16px;
  /* Размер шрифта внутри поля ввода */
  outline: none;
  /* Убирает стандартный контур фокуса в некоторых браузерах */
}

input[type="number"]:focus {
  border-color: #666;
  /* Меняет цвет границы при фокусе на более темный */
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
  /* Увеличивает тень при фокусе */
}

/* Стиль для sidebar */
.sidebar {
  height: 100%;
  /* 100% высоты */
  width: 0;
  /* 0 ширина - sidebar изначально скрыт */
  position: fixed;
  /* Фиксированное положение */
  z-index: 1;
  /* Отображается поверх других элементов */
  top: 0;
  /* Расположение вверху страницы */
  left: 0;
  /* Расположение слева страницы */
  background-color: rgba(43, 48, 53, 1);
  /* Цвет фона */
  overflow-x: hidden;
  /* Скрывает горизонтальную прокрутку */
  transition: 0.5s;
  /* Плавное открытие и закрытие */
  padding-top: 60px;
  /* Отступ сверху */
}

/* Стиль для элементов в sidebar */
.sidebar a {
  padding: 8px 8px 8px 32px;
  /* Отступы вокруг текста */
  text-decoration: none;
  /* Без подчеркивания текста */
  font-size: 25px;
  /* Размер шрифта */
  color: #fff;
  /* Цвет текста */
  display: block;
  /* Элементы отображаются как блоки */
  transition: 0.3s;
  /* Плавность перехода */
}

/* Изменение стиля элементов при наведении */
.sidebar a:hover {
  color: #f1f1f1;
  /* Светлый цвет текста */
}

/* Кнопка для закрытия sidebar */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Кнопка для открытия sidebar */
.openbtn {
  font-size: 30px;
  cursor: pointer;
  color: white;
  border: none;
  top: 20px;
  left: 10px;
  margin-right: 15px;
  background-color: rgba(28, 28, 28, 0)
}

.navbar {
  padding-top: 20px;
  width: 100%;
  color: #ff0000;
}
.btn-close {
  font-size: 1.25rem;
  line-height: 1;
  color: #000;
  opacity: 0.5;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn-close:hover {
  opacity: 0.75;
}