<!DOCTYPE html>
<html>

<head>
    <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        .messages-container {
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 9999;
        }
    </style>
</head>

<body>
    <!-- messages -->
    <div class="messages-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">X</button>
                </div>
                {% endfor %}
            </div>
            <div class="col-md-4"></div>
        </div>
        {% endif %}
        {% endwith %}
    </div>

    <!-- Navigation -->
    <nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary p-3" data-bs-theme="dark">
        <div class="container-fluid">
            <!-- Поместите кнопку открытия меню в начало навбара -->
            {% if current_user.is_authenticated and current_user.is_two_factor_authenticated %}
            <button class="openbtn" onclick="openNav()">☰</button>
            {% endif %}
            <!-- Ссылка на главную или заголовок сайта -->
            <a class="navbar-brand" href="/">
                Прогнозирование риска рецидива сахарного диабета 2 типа после достижения ремиссии в ходе бариатрической
                хирургии
            </a>

            <!-- Кнопка для мобильных устройств -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Содержимое навбара -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if current_user.is_authenticated and current_user.is_two_factor_authenticated %}
                <a href="{{ url_for('accounts.logout') }}"><button type="button"
                        class="btn btn-danger me-2">Выйти</button></a>
                {% else %}
                <a href="{{ url_for('accounts.login') }}"><button type="button"
                        class="btn btn-outline-primary me-2">Войти</button></a>
                {% endif %}
            </div>
        </div>

        <!-- Sidebar -->
        <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a href="{{ url_for('core.home') }}">Главная</a>
            <a href="{{ url_for('calculator.calculate') }}">Калькулятор</a>
            <a href="{{ url_for('core.get_table') }}">Пациенты</a>
            <a href="{{ url_for('core.get_analitics') }}">Аналитика</a>
            <a href="{{ url_for('core.admin_console') }}">Пользователи</a>
        </div>
    </nav>
    <div class="home-container">
        <div class="chart-container">
            <div id='chart' class='chart'></div>
        </div>
        <div class="form-container-Data">
            <div class="form-container-csv">
                <form method="POST" enctype="multipart/form-data" action="/home">
                    <h1 class="text-center">Загрузить данные из файла csv:</h1>
                    <input class="form-control" type="file" name="file" accept=".csv">
                    <input type="submit" value="Загрузить">
                    <li>Cкачать <a href="{{ url_for('core.get_template') }}">шаблон CSV</li></a>
                </form>
            </div>
            <div class="form-container-pkl">
                <form method="POST" enctype="multipart/form-data" action="/home">
                    <h1 class="text-center">Загрузить модель:</h1>
                    <input class="form-control" type="file" name="file" accept=".pkl">
                    <input type="submit" value="Загрузить">
                </form>
            </div>
        </div>
    </div>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
        var graphs = {{ graphJSON | safe}};
        Plotly.plot('chart', graphs, {});
    </script>
    <script src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
        }

    </script>
    <script>
        // Function to close the message when close button is clicked
        document.addEventListener('DOMContentLoaded', function () {
            const closeButtons = document.querySelectorAll('.alert .btn-close');
            closeButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    this.closest('.alert').style.display = 'none';
                });
            });
        });
    </script>

</body>

</html>