<!DOCTYPE html>
<html>
<head>
    <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename="patients_table.css")}}">
</head>
<body>

<!-- Navigation -->
<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary p-3" data-bs-theme="dark">
    <div class="container-fluid">
        <!-- Поместите кнопку открытия меню в начало навбара -->
        {% if current_user.is_authenticated and current_user.is_two_factor_authenticated %}
        <button class="openbtn" onclick="openNav()">☰</button>
        {% endif %}
        <!-- Ссылка на главную или заголовок сайта -->
        <a class="navbar-brand" href="/">
            Прогнозирование риска рецидива сахарного диабета 2 типа после достижения ремиссии в ходе бариатрической хирургии
        </a>

        <!-- Кнопка для мобильных устройств -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Содержимое навбара -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li><a href="{{ url_for('calculator.calculate') }}" class="btn btn-outline-info">Калькулятор</a></li>
            </ul>
            {% if current_user.is_authenticated and current_user.is_two_factor_authenticated %}
            <a href="{{ url_for('accounts.logout') }}"><button type="button" class="btn btn-danger me-2">Выйти</button></a>
            {% else %}
            <a href="{{ url_for('accounts.login') }}"><button type="button" class="btn btn-outline-primary me-2">Войти</button></a>
            {% endif %}
        </div>
    </div>

    <!-- Sidebar -->
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="{{ url_for('core.home') }}">Главная</a>
        <a href="{{ url_for('calculator.calculate') }}">Калькулятор</a>
        <a href="{{ url_for('core.get_table') }}">Пациенты</a>
        <a href="{{ url_for('core.get_analitics') }}">Аналитика</a>
        <a href="{{ url_for('core.admin_console') }}">Пользователи</a>
    </div>
</nav>

    <div id="example-table"></div>
    <script src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
    <link href="/dist/css/tabulator_bootstrap5.min.css" rel="table-striped">
    <script type="text/javascript" src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/luxon/3.3.0/luxon.min.js'></script>
    <script>

document.addEventListener("DOMContentLoaded", function() {
    var data = {{ result|tojson }};

    // sorter:"date", sorterParams:{format:"dd.MM.yyyy",alignEmptyValues:"top"},
    var table = new Tabulator("#example-table", {
        data: data,
        printAsHtml:true,
        printStyled:true,
        printRowRange : "all" ,
        columns: [
            {title:"Дата опроса", field:"survey_date", formatter:"datetime", formatterParams:{ inputFormat:"dd.MM.yyyy", outputFormat:"dd-MM-yyyy"},sorter:"date", sorterParams:{format:"dd.MM.yyyy",alignEmptyValues:"top"},headerFilter:"input", headerFilterPlaceholder:"Поиск по Дате опроса"},
            {title:"ФИО", field:"fullname", sorter:"string", headerFilter:"input", headerFilterPlaceholder:"Поиск по ФИО"},
            {title:"Дата рождения", field:"birthdate",formatter:"datetime", formatterParams:{ inputFormat:"dd.MM.yyyy", outputFormat:"dd-MM-yyyy"},sorter:"date", sorterParams:{format:"dd.MM.yyyy",alignEmptyValues:"top"}, headerFilter:"input", headerFilterPlaceholder:"Поиск по Дате рождения"},
            {title:"Пол", field:"gender", sorter:"string", headerFilter:"input", headerFilterPlaceholder:"Поиск по Полу"},
            {title:"Рост", field:"height", sorter:"number", headerFilter:"input", headerFilterPlaceholder:"Поиск по Росту"},
            {title:"Масса тела при рождении", field:"X6_birth_weight", sorter:"number", headerFilter:"input", headerFilterPlaceholder:"Поиск по массе тела при рождении"},
            {title:"Масса тела на момент опроса", field:"weight", sorter:"number", headerFilter:"input", headerFilterPlaceholder:"Поиск по массе тела на момент опроса"},
            {title:"Дата выявления СД2", field:"diagnosis_date", formatter:"datetime", formatterParams:{ inputFormat:"dd.MM.yyyy", outputFormat:"dd-MM-yyyy"},sorter:"date", sorterParams:{format:"dd.MM.yyyy",alignEmptyValues:"top"}, headerFilter:"input", headerFilterPlaceholder:"Поиск по дате выявления СД2"},
            {title:"Тип операции", field:"surgery_type", sorter:"string",  headerFilter:"input", headerFilterPlaceholder:"Поиск по типу операции"},
            {title:"Дата операции", field:"surgery_date", formatter:"datetime", formatterParams:{ inputFormat:"dd.MM.yyyy", outputFormat:"dd-MM-yyyy"},sorter:"date", sorterParams:{format:"dd.MM.yyyy",alignEmptyValues:"top"}, headerFilter:"input", headerFilterPlaceholder:"Поиск по дате операции"},
            {title:"Максимальная масса тела до операции", field:"max_weight_before_surgery", sorter:"number", headerFilter:"input", headerFilterPlaceholder:"Поиск по максимальной массе тела до операции"},
            {title:"Масса тела перед операцией", field:"weight_before_surgery", sorter:"number",headerFilter:"input", headerFilterPlaceholder:"Поиск по массе тела до операции"},
            {title:"Минимальная масса тела после операции", field:"min_weight_after_surgery", sorter:"number", headerFilter:"input", headerFilterPlaceholder:"Поиск по минимальной массе тела перед операцией"},
            {title:"Сахароснижающая терапия до операции", field:"therapy_before_surgery", sorter:"string", headerFilter:"input", headerFilterPlaceholder:"Поиск по типу сахароснижающей терапии"},
            {title:"Уровень гликированного гемоглобина в крови до операции", field:"X9_HbA1c_before_surgery", sorter:"number", formatter:"percent", formatterParams:{symbol:"%"}, headerFilter:"input", headerFilterPlaceholder:"Поиск по уровню HbA1c до операции"},
            {title:"Степень Артериальной гипертензии", field:"arterial_hypertension_degree", sorter:"string", headerFilter:"input", headerFilterPlaceholder:"Поиск по степени гипертензии"},
            {title:"Дислипидемия", field:"dyslipidemia", sorter:"string",  headerFilter:"input", headerFilterPlaceholder:"Поиск по наличию дислипидемии"},
            {title:"Наследственность по ожирению и Сахарному Диабету 2 типа", field:"heredity", sorter:"string", headerFilter:"input", headerFilterPlaceholder:"Поиск по наличию наследственности"},
            {title:"Осложнения Сахарного диабета 2 типа в анамнезе", field:"complications_history", sorter:"string", headerFilter:"input", headerFilterPlaceholder:"Поиск по наличию осложнений в анамнезе"},
            {title:"Гестационный Сахарный Диабет в анамнезе", field:"gestational_diabetes", sorter:"string", headerFilter:"input", headerFilterPlaceholder:"Поиск по наличию гестационного СД2"},
            {title:"Возраст на момент проведения операции", field:"X1_age_at_surgery", sorter:"number", headerFilter:"input", headerFilterPlaceholder:"Поиск по возрасту на момент операции"},
            {title:"Длительность периода после операции", field:"X2_period_after_surgery", sorter:"number", headerFilter:"input", headerFilterPlaceholder:"Поиск по длительности периода после операции"},
            {title:"Максимальный ИМТ до операции", field:"X3_max_BMI_before_surgery", sorter:"number", headerFilter:"input", headerFilterPlaceholder:"Поиск по максимальному ИМТ до операции"},
            {title:"ИМТ перед операцией", field:"X4_BMI_before_surgery", sorter:"number", headerFilter:"input", headerFilterPlaceholder:"Поиск по ИМТ перед операцией"},
            {title:"ИМТ на момент опроса", field:"X5_BMI_at_survey", sorter:"number", headerFilter:"input", headerFilterPlaceholder:"Поиск по ИМТ на момент опроса"},
            {title:"Минимальный ИМТ после операции", field:"X7_min_BMI_after_surgery", sorter:"number",  headerFilter:"input", headerFilterPlaceholder:"Поиск по минимальному ИМТ после операции"},
            {title:"Длительность СД2", field:"X8_illness_duration", sorter:"number", headerFilter:"input", headerFilterPlaceholder:"Поиск по длительности СД2"},
            {title:"Уровень гликированного гемоглобина в крови на момент опроса", field:"Target_HbA1c_now", sorter:"number", formatter:"percent", formatterParams:{symbol:"%"}, headerFilter:"input", headerFilterPlaceholder:"Поиск по уровню HbA1c на момент опроса"},
            {title:"Спрогнозированный уровень гликированного гемоглобина в крови", field:"HbA1c_predicted", sorter:"number", formatter:"percent", formatterParams:{symbol:"%"}, headerFilter:"input", headerFilterPlaceholder:"Поиск по уровню спрогнозированному уровню HbA1c"}
        ],
        layout:"fitColumns",
        pagination:"local",
        paginationSize:15,
        movableColumns:true,
        resizableRows:true,
    });

    // Добавляем кнопку для скачивания
    var buttonsContainer = document.createElement("div");
    buttonsContainer.style.display = "flex";
    buttonsContainer.style.alignItems = "center";
    buttonsContainer.style.gap = "10px";
    buttonsContainer.style.justifyContent = "flex-end"

    var downloadButton = document.createElement("button-csv");
    downloadButton.textContent = "Скачать CSV";
    downloadButton.addEventListener('click', function() {
        table.download("csv", "data.csv");
    });

    var downloadButton2 = document.createElement("button-csv");
    downloadButton2.textContent = "Скачать XLSX";
    downloadButton2.addEventListener('click', function() {
        table.download("xlsx", "patients.xlsx", {sheetName:"MyData"});
    });

    var downloadButton3 = document.createElement("button-csv");
    downloadButton3.textContent = "Распечатать страницу";
    downloadButton3.addEventListener('click', function() {
        table.print();
    });

    document.body.appendChild(downloadButton);
    document.body.appendChild(downloadButton2);
    document.body.appendChild(downloadButton3);

    buttonsContainer.appendChild(downloadButton);
    buttonsContainer.appendChild(downloadButton2);
    buttonsContainer.appendChild(downloadButton3);

    document.body.appendChild(buttonsContainer);


});


      function openNav() {
        document.getElementById("mySidebar").style.width = "250px"; // Задаем ширину sidebar
      }

      function closeNav() {
        document.getElementById("mySidebar").style.width = "0"; // Скрываем sidebar
      }


    </script>

</body>
</html>
